// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card {
  border-left: 4px solid lightgrey;
  padding: 5px 10px;
  margin: 5px;
  width: 900px;
  &:hover {
    background-color: lightyellow;
  }
}